.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    display: flex;
    padding: 12px 0;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}

/* Footer Icons */
.footer-icon {
    font-size: 24px;
    cursor: pointer;
    color: gray;
    transition: 0.3s ease-in-out;
    padding: 1px;
    border-radius: 50%;
}

/* Icons */
.footer-icon img {
    width: 40px;
    height: 40px;
    transition: 0.3s ease-in-out;
}

/* Active Icon - Light but Visible Change */
.footer-icon.active img {
    filter: invert(40%) sepia(60%) saturate(500%) hue-rotate(200deg) brightness(85%) contrast(95%);
    mix-blend-mode: multiply;
}

/* Default active home icon */
.footer-home img {
    filter: invert(40%) sepia(60%) saturate(500%) hue-rotate(200deg) brightness(85%) contrast(95%);
    mix-blend-mode: multiply;
}

@media (max-width:480px) {
    .footer {
        display: flex !important;
        padding: 10px 10px !important;
        gap: 32px !important;
    }

    .footer img {
        width: 33px !important;
        height: 33px !important;
    }
}

@media (min-width:375px) {
    .footer {
        padding: 10px 40px !important;
        gap: 30px !important;
    }
}

@media (min-width:425px) {
    .footer {
        padding: 10px 50px !important;
        gap: 40px !important;
    }
}

@media (min-width:768px){
    .footer{
        padding: 10px 200px !important;
    }
}
